# Limine 7.x configuration for Yart OS
TIMEOUT=2
DEFAULT_ENTRY=1
INTERFACE_RESOLUTION=1280x800
INTERFACE_BRANDING=Yart OS Bootloader
GRAPHICS=yes
THEME_COLOURS=ff00f0ff;ff1b0a2e;ff0a0a12;ff7a3cff;ffffffff;ff00ffaa;ff00f0ff;ffff5577

:Yart OS (x86_64)
    PROTOCOL=limine
    KERNEL_PATH=boot:///boot/yart.elf
    MODULE_PATH=boot:///boot/initrd.tar
    MODULE_CMDLINE=initrd
    KASLR=no
    CMDLINE=quiet desktop=on theme=neon-purple
